.offer {
  position: relative; // overflow-x: hidden;
  max-width: 100vw;
}

.svg-deco {
  &--big {
    position: absolute;
    top: 150%;
    width: 100%;
    right: -50%;
    display: none;
    .template-homepage & {
      display: block;
    }
  }
  &--small {
    position: absolute; // top: 1000px;
    top: 80%;
    width: 75%;
    left: -50%; // width: 100%;
    display: none;
   .template-homepage & {
      display: block;
    }
    &-2 {
      position: absolute; // top: 1000px;
      top: 250%;
      width: 25%;
      left: 50%; // width: 100%;
      transform: translateX(-70%);
      display: none;
      .template-homepage & {
        display: block;
      }
    }
  }
}