{% load static wagtailuserbar %}
{% load i18n %}
{% load menu_tags %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
    <!-- <meta charset=utf-8 /> -->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta http-equiv=X-UA-Compatible content="IE=edge,chrome=1" />
        <meta name=viewport content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />

        <meta name=description content=Immitis/>
        <meta name=author content="" />
        <meta name=keywords content=Immitis />
        <meta name=theme-color content=#333333 />
        <meta name=msapplication-navbutton-color content=#333333 />
        <meta name=apple-mobile-web-app-capable content=yes />
        <meta name=apple-mobile-web-app-status-bar-style content=#333333 />
        <meta name=apple-mobile-web-app-status-bar-style content=black-translucent />

        <!-- <link rel=apple-touch-icon sizes=180x180 type=image/png href=/media/img/ico/apple-icon.png />
        <link rel=icon sizes=192x192 type=image/png href=/media/img/ico/favicon.png /> -->
        <link rel="shortcut icon" href=/media/img/ico/favicon.png type=image/fav-icon />

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body data-spy=scroll data-target=.navbar data-offset=50 class="{% block body_class %}{% endblock %}">
        <svg style="visibility:hidden; position: absolute">
            <defs>
                <filter id=fa1 x=0 y=0 width=200% height=200%>
                    <feoffset dy=3 input=SourceAlpha></feoffset>
                    <fegaussianblur stddeviation=3 result=blur></fegaussianblur>
                    <feflood flood-color=#a1a1a1 flood-opacity=0.102></feflood>
                    <fecomposite operator=in in2=blur></fecomposite>
                    <fecomposite in=SourceGraphic></fecomposite>
                </filter>
            </defs>
            <symbol id=twoSimpleSHapes>
                <path d="M280 290 L470 290 L740 820 L560 820 Z" fill=#FAFAFA filter=url(#fa1)></path>
                <path d="M0 0 L270 0 L670 770 L400 770 Z" fill=#FFFFFF filter=url(#fa1)></path>
            </symbol>
        </svg>
        <svg class=svg-deco--big width=250 viewBox="0 0 1265 1045">
            <path d="M0 0 L1265 0 L12165 1045 L500 1045 Z" fill=#FAFAFA></path>
        </svg>
        <svg class=svg-deco--small width=250 viewBox="0 0 750 830">
            <use xlink:href=#twoSimpleSHapes></use>
        </svg>
        <svg class=svg-deco--small-2 width=250 viewBox="0 0 750 830">
            <use xlink:href=#twoSimpleSHapes></use>
        </svg>
        {% get_site_root as site_root %}
        {% main_menu template="menus/custom_main_menu.html" %}

         {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %} {{ message }}
                    </li>
                    {% endfor %}
            </ul>
        {% endif %}
        {% wagtailuserbar %}

        {% block content %}{% endblock %}

        {# Global javascript #}
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script type="text/javascript" src="{% static 'js/vendor.bundle.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/main.bundle.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
        <footer class=footer>
            <a href="#">
                <svg xmlns=http://www.w3.org/2000/svg xmlns:xlink=http://www.w3.org/1999/xlink viewbox="0 0 46.992 36.655" width=30 height=30>
                    <defs>
                        <style>
                            .logo-1 {
                                opacity: .8
                            }

                            .logo-2 {
                                fill: url(#linear-gradient)
                            }

                            .logo-3 {
                                fill: url(#linear-gradient-2)
                            }

                            .logo-4 {
                                fill: url(#linear-gradient-3)
                            }

                            .logo-5 {
                                fill: url(#linear-gradient-4)
                            }
                        </style>
                        <lineargradient id=linear-gradient x1=0.776 y1=0.949 x2=0.077 y2=0.116 gradientunits=objectBoundingBox>
                            <stop offset=0 stop-color=#4a4a4a></stop>
                            <stop offset=1 stop-color=#949494></stop>
                        </lineargradient>
                        <lineargradient id=linear-gradient-2 x1=0.5 y1=0.146 x2=0.5 y2=1 xlink:href=#linear-gradient>
                            <lineargradient id=linear-gradient-3 x1=0.868 y1=0.182 x2=0.229 y2=0.975 xlink:href=#linear-gradient>
                                <lineargradient id=linear-gradient-4 x1=0.718 y1=0.521 x2=-0.001 y2=0.105 xlink:href=#linear-gradient></lineargradient>
                            </lineargradient>
                        </lineargradient>
                    </defs>
                    <g class=logo-1 id=LOGO transform="translate(-548.794 -277.997)">
                        <path class=logo-2 id=Path_17 data-name="Path 17" d=M86.74,34.387,72.267,6.5h0L68.9,0,63.5,10.354,75.97,34.387a4.535,4.535,0,0,0,3.665,2.23h5.706C86.778,36.655,87.382,35.634,86.74,34.387Z
                            transform="translate(508.79 277.997)"></path>
                        <path class=logo-3 id=Path_18 data-name="Path 18" d=M49.3,37.754,54.666,48.07l5.366-10.316L54.666,27.4Z transform="translate(517.624 260.951)"></path>
                        <path class=logo-4 id=Path_19 data-name="Path 19" d=M14.086,27.3,1.578,51.371a1.423,1.423,0,0,0,1.36,2.267H8.644a4.515,4.515,0,0,0,3.665-2.23l7.142-13.717Z
                            transform="translate(547.473 261.014)"></path>
                        <path class=logo-5 id=Path_20 data-name="Path 20" d=M27.772,10.316,29.737,6.5h0L32.76.642A4.443,4.443,0,0,0,30.644,0H24.938a1.4,1.4,0,0,0-1.36,2.23Z
                            transform="translate(533.786 277.997)"></path>
                    </g>
                </svg>
            </a>

        </footer>
    </body>
</html>
