{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}{% endblock%}

{% block content %}

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                {% side_menu parent=self.get_parent calling_page=self %}
            </div>
            <div class="col-md-9">
                <h1>{{ page.title }}</h1>
                    <p class="meta">{{ page.date }}</p>

                    <div class="intro-image">{{ page.intro_image }}</div>
                    <div class="intro">{{ page.intro }}</div>

                    {{ page.body|richtext }}

                    {% for offer in offerpages %}
                        {% with offer=offer.specific %}
                            <h2>
                                <a href="{% pageurl offer %}">{{ offer.title }}</a>
                            </h2>

                        {% with offer.main_image as main_image %}
                            {% if main_image %}
                                {% image main_image fill-160x100 %}
                            {% endif %}
                        {% endwith %}
                            <p>{{ offer.intro }}</p>
                            {{ offer.body|richtext }}
                        {% endwith %}
                    {% endfor %}
                    <p>
                        <a href="{{ page.get_parent.url }}">powót do {{ page.get_parent.title }}</a>
                    </p>
            </div>
        </div>
    </div>
</section>



    

    <!-- {% for item in page.gallery_images.all %}
        <div style="float: left; margin: 10px">
            {% image item.image fill-320x240 %}
            <p>{{ item.caption }}</p>
        </div>
    {% endfor %} -->



{% endblock %}