.body-subpage--contact {

  .map {
    height: 250px;
    margin-top: 56px;
  }

  .contact-data {
    padding: 40px;
    .contact-list {
      padding-left: 0;
      list-style: none;
      &__item {
        padding: .25rem 0;
      }
    }
  }
}

.g-recaptcha {
  padding: 1rem 0
  // transform:scale(1.33);
  // transform-origin:0 0;
}

#g-recaptcha-response {
  display: block !important;
  position: absolute;
  margin: -78px 0 0 0 !important;
  width: 302px !important;
  height: 76px !important;
  z-index: -999999;
  opacity: 0;
}